
// colors
$dark-gray-background: #1F1F1F;



// fonts
$font1: 'Oswald', sans-serif;
$font2: 'Work Sans', sans-serif;


// images
// $goBackImage: url(../images/goback.png);
// $infoImage: url(../images/info.png);
// $friendsImage: url(../images/friends.png);
// $trendingImage: url(../images/trending.png);
// $calendarImage: url(../images/calendar.png);
